.description-container__text {
  font-size: 0.8rem;
  text-align: left;
  margin: 1rem;
}
.description-container__comment {
  font-size: 0.7rem;
  text-align: left;
  font-weight: 600;
  margin-left: 1rem;
}
