@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-container {
  height: 56vw;
  margin-top: 2rem;
  @include desktop {
    height: 39vw;
    margin-top: 2rem;
    width: 100%;
    background-color: black;
  }
}

.highlights-title {
  font-size: 1.6rem;
  text-align: left;
  margin: 1rem 0 1rem 1rem;
  font-weight: 400;
  @include tablet {
    font-size: 2.3rem;
    text-align: left;
    margin: 1rem 0 1rem 2rem;
    font-weight: 600;
  }
}

.video-wrapper {
  background-color: black;
}
