.form-container {
  display: flex;

  &__header {
    font-size: 0.8rem;
    color: #afafaf;
  }

  &__avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 70%;
    object-fit: cover;
  }
}
.form-header {
  font-size: 0.8rem;
  color: #afafaf;
  text-align: left;
}
