@use "../../assets/styles/partials/mixins" as *;
@use "../../assets/styles/partials/variables" as *;

.video-upload {
  &__header {
    font-weight: 600;
    padding-top: 2rem;
    padding-left: 1rem;
    border-top: 1px solid #afafaf;
    margin-bottom: 2rem;
    @include tablet {
      border-bottom: solid 1px #afafaf;
      font-size: 2.8rem;
      padding-bottom: 2rem;
    }
  }
  &__subheader {
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #afafaf;
    margin-bottom: 0.2rem;
  }
  &__img {
    width: 17.36rem;
    height: 9.259999999999998rem;
    object-fit: cover;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
  }
}

.form-container {
  &__title {
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid;
    border-width: thin;
    border-color: #afafaf;
    border-radius: 0.2rem;
    margin-bottom: 1.3rem;
    width: 87%;
  }
  &__video {
    height: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: solid;
    border-width: thin;
    border-color: #afafaf;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    width: 87%;
  }
}

.publish-button {
  width: 90%;
  height: 3rem;
  background-color: #0095ff;
  border: none;
  color: white;
  border-radius: 0.3rem;
  background-image: url(../../assets/Images/Icons/publish.svg);
  background-position: left;
  background-repeat: no-repeat;
  border-width: thin;
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: 500;
  @include tablet {
    width: 12%;
    height: 3rem;
    background-color: #0095ff;
    border: none;
    color: white;
    border-radius: 0.3rem;
    background-image: url(http://localhost:3000/static/media/publish.9004aa7….svg);
    background-position: left;
    background-repeat: no-repeat;
    border-width: thin;
    font-size: 0.8rem;

    margin-bottom: 1rem;
    margin-left: 31rem;
    font-weight: 500;
  }
}

.cancel-button {
  width: 90%;
  height: 3rem;
  background-color: white;
  border: none;
  color: white;
  border-radius: 0.3rem;
  font-weight: 500;
  background-position: left;
  background-repeat: no-repeat;
  border-width: thin;
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: #0095ff;
  @include tablet {
    width: 12%;
    height: 3rem;
    background-color: white;
    border: none;
    color: white;
    border-radius: 0.3rem;
    font-weight: 500;
    background-position: left;
    background-repeat: no-repeat;
    border-width: thin;
    font-size: 0.8rem;

    margin-bottom: 1rem;
    margin-left: 1rem;
    color: #0095ff;
  }
}
.desktop-wrapper {
  @include desktop {
    display: flex;
  }
}
